@font-face {
  font-family: 'Rubik', sans-serif;
  src: url('Fonts/Rubik/Rubik-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #EEE;
    overflow-x: hidden;
	text-align: center;
	font-family: 'Rubik', sans-serif;
	font-size: 100;
}

.container {
    display: flex;
    align-items: center;
}

table {
    border-collapse: collapse;
}

padbreak{padding:10px;}

h1 {
    text-align: center;
    color: #333;
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
}


h3{ 
	text-decoration: underline;
}
img {
  border-width: 6px;
  border-style: solid;
  border-color: black;
  max-width:15%;
  height: auto;
  text-align:center;
}

#pieces td {
    border: 1px solid black;
    padding: 20px;
    cursor: pointer;
}

#board td {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

#board tr:nth-child(even) td:nth-child(even),
#board tr:nth-child(odd) td:nth-child(odd) {
    background-color: #EEE;
	font-size:22;
}

#board tr:nth-child(even) td:nth-child(odd),
#board tr:nth-child(odd) td:nth-child(even) {
    background-color: #CCC;
	font-size:22;
}



nav {
    
  background-color: #333;
  overflow: hidden;
  
}

nav img {
	max-width:15%;
	height: auto;
    margin-top: 8px;
	border-width:2px;
	
}


nav a {
    
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
    
  background-color: #ddd;
  color: black;
}

nav a.active {
    
  background-color: #5533ff;
}