@font-face {
  font-family: 'Rubik';
  src: url('Fonts/Rubik/Rubik-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
	
  text-align: center;
  font-family: 'Rubik', sans-serif;
}
h1{
	text-decoration: underline;
}

img {
  border-width: 6px;
  border-style: solid;
  border-color: black;
  max-width:15%;
  width: auto;
  height: auto;
}

nav {
	
  background-color: #333;
  overflow: hidden;
}

nav a {
	
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
	
  background-color: #ddd;
  color: black;
}

nav a.active {
	
  background-color: #5533ff;
}
