@font-face {
  font-family: 'Rubik', sans-serif;
  src: url('Fonts/Rubik/Rubik-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
	
  text-align: center;
  font-family: 'Rubik', sans-serif;
}
h1{
	text-decoration: underline;
}

img {
  border-width: 6px;
  border-style: solid;
  border-color: black;
  text-align: center;
  max-width:15%;
  width: auto;
  height: auto;
}

nav {
	
  background-color: #333;
  overflow: hidden;
}

nav a {
	
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
	
  background-color: #ddd;
  color: black;
}

nav a.active {
	
  background-color: #5533ff;
}

.grid-container {
			display: grid;
			grid-template-columns: repeat(6, 1fr);
			grid-gap: 10px;
			padding: 20px;
		}
		.grid-item {
			background-color: #f1f1f1;
			text-align: center;
			padding: 20px;
		}
		.grid-item img {
			max-width: 100%;
			height: auto;
			text-align: center;
		}