@font-face {
  font-family: 'Rubik', sans-serif;
  src: url('Fonts/Rubik/Rubik-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  overflow-x: hidden;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  height: 2000px; /* Set a height for the page to enable scrolling */
}

padbreak{padding:10px;}
h1{
    text-decoration: underline;
}

h3{ 
	text-decoration: underline;
}
img {
  border-width: 6px;
  border-style: solid;
  border-color: black;
  max-width:15%;
  height: auto;
  text-align:center;
}

img.image-borderless{
  border-width: 0px;
  border-style: none;
  border-color: none;
  max-width:15%;
  height: auto;
  text-align:center;
}

img.horizontal {
  border-width: 6px;
  border-style: solid;
  border-color: black;
  max-height: 30%;
  width:auto;
  text-align:center;
}

canvas {
  border-width: 6px;
  text-align: center;
  border-style: solid;
  border-color: black;
  display: block;
  margin: 0 auto;
}

nav {
    
  background-color: #333;
  overflow: hidden;
  
}

nav img {
	max-width:15%;
	height: auto;
    margin-top: 8px;
	border-width:2px;
	
}


nav a {
    
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
    
  background-color: #ddd;
  color: black;
}

nav a.active {
    
  background-color: #5533ff;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 10px;
	padding:30px;
	
	}
.grid-item {
	background-color: #f1f1f1;
	text-align: center;
	padding:30px;
	box-align:center;
	}
.grid-item img {
	max-width: 100%;
	height: auto;
	text-align: center;
	}
        
.gallery {
	padding:30px;
    white-space: nowrap;
    position: relative;
    animation: slide 32s linear infinite; 
	}

.gallery img {
    display: inline-block;
    max-width: 45%;
    width: auto;
    height: auto;
    vertical-align: middle;
	}

.spin {
	animation: spin 1s linear;
	
}

@keyframes slide {
	from {
		transform: translateX(-20%);
		}
	to {
		transform: translateX(-243%);
	}
}

@keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }


:root {
      --color-start: #ADD8E6; /* Light blue */
      --color-mid: #87CEEB; /* Mid blue */
      --color-end: #FF69b4; /* Vivid cherry pink */
      --transition-duration: 0.5s; /* Transition duration */
    }

    body {
      background-color: var(--color-start);
    }

    body::before,
    body::after {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      pointer-events: none; /* Allow scrolling through the overlay */
      z-index: -1;
    }

    body::before {
      background-color: var(--color-start);
    }

    body::after {
      background-color: var(--color-end);
      opacity: 0; /* Initially hidden */
      transition: opacity var(--transition-duration) ease-out; /* Transition effect */
    }

    /* Show the gradient overlay as the user scrolls down */
    body.fade-in::after {
      opacity: 1;
    }

    /* Hide the gradient overlay as the user scrolls up */
    body.fade-out::after {
      opacity: 0;
    }

